{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:product_list' %}">Всі товари</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:product_list' %}">Products</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link"  href="{{ category.get_absolute_url }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="d-flex">
            <a href="#" class="btn btn-outline-light position-relative me-3">
                <i class="bi bi-cart3"> Кошик
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> 0 </span>
                </i>
            </a>


        </div>

    </div>

</nav>


<div class="container mt-4 mb-5">
    {% block content%}
    {% endblock content %}
</div>

<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Shop</h5>
                <p>Навчальний проект</p>
            </div>
            <div class="col-md-4">
                <h5>Контакти</h5>
                <p>Email: artem@admin.com</p>
            </div>
            <div class="col-md-4">
                <h5>Соцмережі</h5>
                <a href="#" class="text-white me-2"><i class="bi bi-telegram"></i></a>
                <a href="#" class="text-white me-2"><i class="bi bi-youtube"></i></a>
            </div>
        </div>

    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>